<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="http://www.danforthcenter.org" target="_blank"><h1>Donald Danforth Plant Science Center</h1></a>
                <!-- <h1>The Maker Group</h1> -->
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <a href="{{site.baseurl}}/pages/blog.html"><img src="{{ "/assets/img/makershop_space.JPG" | prepend: site.baseurl }}" class="img-responsive"></a>
                <!-- <img src="{{ "/assets/img/makergroup_splash_img.jpg" | prepend: site.baseurl }}" class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->