<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="http://www.danforthcenter.org" target="_blank"><h3>Donald Danforth Plant Science Center</h3></a>
                <h1>The Maker Group</h1>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Thank you everyone who attended and volunteered at the 2016 DDPSC Raspberry Pi Jam!!</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <a href="{{site.baseurl}}/pages/blog.html"><img src="{{ "/assets/img/RPi_Jam2016_photobooth.jpg" | prepend: site.baseurl }}" class="img-responsive"></a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->