<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Donald Danforth Plant Science Center</h3>
                <h1>The Maker Group</h1>
                <a href="https://github.com/maliagehan/maker-site" target="_blank"><img src="assets/img/github_button.PNG"></a>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <a href="{{ "/pages/events/" | prepend: site.baseurl }}"><img src="{{ "/assets/img/DDPSC_jam_2016.jpg" | prepend: site.baseurl }}" class="img-responsive"></a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->