<!--Static navbar-->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav">
            <a href="{{site.baseurl}}/index.html">Home</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/about.html">About</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/events.html"">Events</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/projects/">DDPSC Projects</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/blog/">Blog</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/tutorials/">Tutorials</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/about.html">Resources</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/about.html">Outreach</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/members.html">Members</a>
          <li class="nav">
            <a href="{{site.baseurl}}/pages/about.html">Contact</a>
          </li>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          </div>
        </ul>
      </div>
  </div>
</div>
