<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="nav"><a href="{{site.baseurl}}/pages/resources/index.html">Resources Overview</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/resources/resource_docs/links.html">Useful Links</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/resources/resource_docs/plantcv.html">PlantCV</a></li>               
      </ul>
    </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div> 
        {{content}}
        </div>
    </div>
