<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="nav"><a href="{{site.baseurl}}/pages/tutorials/index.html">Tutorial Overview</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/tutorials/tutorial_docs/tom_liu_8-2014.html">RasPi Imager</a></li>               
      </ul>
    </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="jumbotron"> 
        {{content}}
        </div>
    </div>
