{% include head.html %}
  {% include navbar.html %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="nav"><a href="{{site.baseurl}}/pages/projects/index.html"><b>2014 Overview :</b></a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/projects/project_docs/phenostat-soon.html">PhenoStat</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/projects/project_docs/phenokinect-soon.html">PhenoKinect</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/projects/project_docs/soilsense-soon.html">SoilSense</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/projects/project_docs/phenodrone-soon.html">PhenoDrone</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div>  
        {{ content }}
      </div>
  {% include footer.html %}
  </div>
</div>
{% include foot.html %}